<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Future Games</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script>
        $(document).ready(function() {
            // 서버에서 팀 목록을 가져와서 드롭다운 메뉴를 동적으로 생성
            $.ajax({
                url: "/teams",
                method: "GET",
                success: function(response) {
                    var teams = response;
                    var options = '';
                    for (var i = 0; i < teams.length; i++) {
                        options += '<option value="' + teams[i] + '">' + teams[i] + '</option>';
                    }
                    $('#homeTeam').html(options);
                    $('#awayTeam').html(options);
                },
                error: function(xhr, status, error) {
                    console.error("Error:", error);
                }
            });

            $('#predictButton').click(function() {
                var homeTeam = $('#homeTeam').val();
                var awayTeam = $('#awayTeam').val();

                var inputData = {
                    'home_team': homeTeam,
                    'away_team': awayTeam
                };

                $.ajax({
                    url: "/prediction/future_games/competition",
                    method: "POST",
                    contentType: "application/json",
                    data: JSON.stringify(inputData),
                    success: function(response) {
                        // 서버로부터 받은 데이터를 HTML에 표시
                        $('#result').html(`<strong>Prediction Result:</strong> ${response.result}`);
                    },
                    error: function(xhr, status, error) {
                        console.error("Error:", error);
                        $('#result').text('Failed to load prediction');
                    }
                });
            });
        });
    </script>
</head>
<body>
    <br><input type="button" value="홈" onclick="window.location.href='/'">
    <br><input type="button" value="경기예측" onclick="window.location.href='../prediction'">


    <label>홈팀선택</label>
    <select id="homeTeam"></select>

    <label>원정팀선택</label>
    <select id="awayTeam"></select>

    <input type="button" value="예측하기" id="predictButton">

    <h2>예측 결과:</h2>
    <div id="result"></div>
</body>
</html>



