<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br><input type="button" value="홈" onclick="window.location.href='/'">
    
    <br><input type="button" value="예측 결과 조회" onclick="window.location.href='/information/prediction_results'">

    <br><input type="button" value="경기 일정" onclick="window.location.href='/information/game_schedule'">

    <br><input type="button" value="팀 순위" onclick="window.location.href='/information/team_ranking'">

    <br><input type="button" value="개인 순위" onclick="window.location.href='/information/player_ranking'">


</body>
</html>