<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./reference_global.css" />
    <link rel="stylesheet" href="./reference_index.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap"
    />
  </head>
  <body>
    <div class="slide-169-7">
      <img class="icon" alt="" src="./public/46352221-1@2x.png" />

      <div class="vector-parent">
        <img class="frame-child" alt="" src="./public/rectangle-2245.svg" />

        <img
          class="frame-item"
          loading="lazy"
          alt=""
          src="./public/group-7851@2x.png"
        />

        <div class="wrapper">
          <b class="b">경기 일정</b>
        </div>
      </div>
      <section class="slide-169-7-inner">
        <div class="vector-group">
          <img class="frame-inner" alt="" src="./public/rectangle-2245.svg" />

          <img class="group-icon" alt="" src="./public/group-7851@2x.png" />

          <div class="container">
            <b class="b1">선수 순위</b>
          </div>
        </div>
      </section>
      <div class="slide-169-7-child">
        <div class="vector-container">
          <img
            class="rectangle-icon"
            alt=""
            src="./public/rectangle-2245.svg"
          />

          <img class="frame-child1" alt="" src="./public/group-7851@2x.png" />

          <div class="frame">
            <b class="b2">팀 순위</b>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>