<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  안녕 나의 첫 웹페이지야.
  <br><input type="button" value="두번째페이지" onclick="window.location.href='/page2'">
  <br><input type="button" value="세번째페이지" onclick="window.location.href='/page3'">
  <br><a href="/page4">네번째페이지</a>
  <br><a href="{{ url_for('page5')}}">다섯번째페이지</a>
</body>
</html>
