<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="../static/css/boxscores_global.css" />
    <link rel="stylesheet" href="../static/css/boxscores_index.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
    />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script>
      $(document).ready(function() {
        function loadTableData() {
          $.ajax({
            url: "/api/game_schedule",
            method: "GET",
            success: function(data) {
              var tableHead = $('#game-schedule-table thead');
              var tableBody = $('#game-schedule-table tbody');
              tableHead.empty(); // 기존 테이블 헤더 내용 제거
              tableBody.empty(); // 기존 테이블 내용 제거

              // 데이터로부터 테이블 헤더 생성
              var headers = ['Matchup'];
              var headerRow = '<tr>';
              headers.forEach(function(header) {
                headerRow += '<th>' + header + '</th>';
              });
              headerRow += '</tr>';
              tableHead.append(headerRow);

              // 데이터로부터 테이블 행 생성
              data.data.forEach(function(row) {
                var tableRow = '<tr>';
                tableRow += '<td class="matchup-cell" data-home="' + row['homeTeam'] + '" data-away="' + row['awayTeam'] + '">' + row['homeTeam'] + ' vs ' + row['awayTeam'] + '</td>';
                tableRow += '</tr>';
                tableBody.append(tableRow);
              });
            },
            error: function(xhr, status, error) {
              console.error("Error loading data:", error);
            }
          });
        }
        
        // 경기 클릭 이벤트 추가
        $(document).on("click",'td.matchup-cell',function() {
          var homeTeam = $(this).data('home');
          var awayTeam = $(this).data('away');
          fetchrealtimeresult(homeTeam, awayTeam);
        });

        function fetchrealtimeresult(homeTeam, awayTeam) {
          $.ajax({
            url: "/api/prediction/real_time",
            method: "GET",
            data: { home_team: encodeURIComponent(homeTeam),
              away_team: encodeURIComponent(awayTeam) },
            success: function(data) {
              var hometableHead = $('#home-table thead');
              var hometableBody = $('#home-table tbody');
              var awaytableHead = $('#away-table thead');
              var awaytableBody = $('#away-table tbody');
              
              hometableHead.empty();
              hometableBody.empty();
              awaytableHead.empty();
              awaytableBody.empty();

              var hometableheaders = data.columns;
              var hometableheaderRow = '<tr>';
              hometableheaders.forEach(function(header) {
                hometableheaderRow += '<th>' + header + '</th>';
              });
              hometableheaderRow += '</tr>';
              hometableHead.append(hometableheaderRow);

              var awaytableheaders = data.columns;
              var awaytableheaderRow = '<tr>';
              awaytableheaders.forEach(function(header) {
                awaytableheaderRow += '<th>' + header + '</th>';
              });
              awaytableheaderRow += '</tr>';
              awaytableHead.append(awaytableheaderRow);

              // 홈팀 데이터 삽입
              data.result_home.forEach(function(row) {
                var hometableRow = '<tr>';
                hometableheaders.forEach(function(header) {
                  hometableRow += '<td>' + row[header] + '</td>';
                });
                hometableRow += '</tr>';
                hometableBody.append(hometableRow);
              });

              // 원정팀 데이터 삽입
              data.result_away.forEach(function(row) {
                var awaytableRow = '<tr>';
                awaytableheaders.forEach(function(header) {
                  awaytableRow += '<td>' + row[header] + '</td>';
                });
                awaytableRow += '</tr>';
                awaytableBody.append(awaytableRow);
              });
            },
            error: function(xhr, status, error) {
              console.error("Error fetching match result:", error);
            }
          });
        }

        // 페이지가 로드될 때 테이블 데이터를 로드
        loadTableData();
      });
    </script>
    <style>
      .frame td, 
      .frame tr,
      .wrapper1 td,
      .wrapper1 tr {
        font-size: 20px;
      }
      #home-table1,
      #home-table2,
      #home-table3 {
        background-color: #ffffff;
      }
      .table {
        width: 100%;
        border-top: 1px solid #444444;
        border-collapse: collapse;
        margin-bottom: 20px; /* 테이블과 다른 요소 사이에 여백 추가 */
        font-size: 16px; /* 테이블 글씨 크기 조절 가능 부분 */
        text-align: center;
      }
      .table th, .table td {
        border: 1px solid #ffffff;
        padding: 6px 10px; /* 패딩을 늘려 행 간격 조절 */
        text-align: center;
        font-size: 18px;
        border-bottom: 1px solid #444444;
      }

      .table th {
        background-color: #ffffff;
      }

      .table tbody tr:nth-child(odd) {
        background-color: #d4d4d4;
      }

      .table tbody tr:nth-child(even) {
        background-color: #ffffff;
      }
      .vector-parent,
      .vector-group {
        cursor: pointer; /* 클릭 가능한 느낌을 주기 위해 커서 모양 변경 */
        padding: 20px;
        background-color: white;
        text-align: center;
      }

      .vector-parent:hover,
      .vector-group:hover {
        background-color: lightgray; /* 마우스 오버 시 배경색 변경 */
      }
      .matchup-cell:hover {
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <div class="slide-169-13">
      <section class="frame-parent">
        <div class="vector-parent" onclick="window.location.href='../prediction'">
          <img class="frame-child" alt="" src="../static/img/rectangle-2245.svg" />

          <img
            class="frame-item"
            loading="lazy"
            alt=""
            src="../static/img/group-7851@2x.png"
          />

          <div class="wrapper">
            <h3 class="h3">이전 페이지</h3>
          </div>
        </div>
        <header class="frame-group">
          <div class="home-team-box-scores-wrapper">
          </div>
          <div class="frame1">
            <table id="game-schedule-table" class="table">
              <thead>
                <!-- 테이블 헤더가 동적으로 생성됩니다 -->
              </thead>
              <tbody>
                <!-- 데이터가 동적으로 여기에 삽입됩니다 -->
              </tbody>
            </table>
          </div>
          <div class="vector-group" onclick="window.location.href='/'">
            <img class="frame-inner" alt="" src="../static/img/rectangle-2245.svg" />

            <img
              class="group-icon"
              loading="lazy"
              alt=""
              src="../static/img/group-7851@2x.png"
            />

            <div class="container">
              <h3 class="h31">메인 화면</h3>
            </div>
          </div>
        </header>
      </section>
      <section class="slide-169-13-inner">
        <div class="frame-container">
          <div class="ellipse-wrapper">
            <div class="ellipse-div"></div>
          </div>
          <div class="frame-div">
            <div class="model-1-wrapper">
              <div class="model-1">Model 1</div>
            </div>
            <div class="scoreboard-parent">
              <div class="scoreboard">
                <div class="rectangle-parent">
                    <h1 class="home-team-box">Home Team Box Scores</h1>
                  <div class="rectangle-div"></div>
                  <div class="frame">
                    <table id="home-table1">
                      <!-- <thead>
                        <tr>
                          <th>FGM</th><th>FGA</th><th>FG%</th><th>3PM</th><th>3PA</th><th>3P%</th>
                        </tr>
                      </thead>  
                      <tbody>
                        <tr>
                          <td class="FGM">19</td><td class ="FGA">43</td><td class = "FG%">0.442</td><td class ="3PM">4</td><td class="3PA">13</td><td class = "3P%">0.308</td>
                        </tr>
                      </tbody> -->
                    </table> 
                    <!-- <table id="home-table2">
                      <thead>
                        <tr>
                          <th>FTM</th><th>FTA</th><th>FT%</th><th>OREB</th><th>DREB</th><th>REB</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="FTM">12</td><td class="FTA">16</td><td class="FT%">0.75</td><td class="OREB">12</td><td class="DREB">16</td><td class="REB">28</td>
                        </tr>
                      </tbody>
                    </table>
                    <table id="home-table3">
                      <thead>
                        <tr>
                          <th>AST</th><th>STL</th><th>BLK</th><th>TO</th><th>PF</th><th>PTS</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="AST">7</td><td class="STL">2</td><td class="BLK">5</td><td class="TO">7</td><td class="PF">10</td><td class="PTS">54</td>
                        </tr>
                      </tbody>
                    </table> -->
                  </div>
                </div>
                <div class="scoreboard-inner">
                  <div class="values-wrapper">
                    <div class="values">
                      <div class="frame-parent1">
                        <div class="frame-parent2">
                          <div class="ellipse-container">
                            <div class="frame-child1"></div>
                          </div>
                          <h2 class="h2">(값)</h2>
                        </div>
                        <div class="frame-parent3">
                          <div class="polygon-wrapper">
                            <img
                              class="polygon-icon"
                              loading="lazy"
                              alt=""
                              src="../static/img/polygon-1.svg"
                            />
                          </div>
                          <h2 class="h21">(값)</h2>
                        </div>
                        <div class="frame-parent4">
                          <div class="rectangle-wrapper">
                            <div class="frame-child2"></div>
                          </div>
                          <h2 class="h22">(값)</h2>
                        </div>
                      </div>
                      <div class="frame-parent5">
                        <div class="frame-parent6">
                          <div class="ellipse-frame">
                            <div class="frame-child3"></div>
                          </div>
                          <h2 class="h23">(값)</h2>
                        </div>
                        <div class="frame-parent7">
                          <div class="polygon-container">
                            <img
                              class="frame-child4"
                              loading="lazy"
                              alt=""
                              src="../static/img/polygon-1.svg"
                            />
                          </div>
                          <h2 class="h24">(값)</h2>
                        </div>
                        <div class="frame-parent8">
                          <div class="rectangle-container">
                            <div class="frame-child5"></div>
                          </div>
                          <h2 class="h25">(값)</h2>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="rectangle-group">
                  <div class="frame-child6"></div>
                  <div class="wrapper1">
                    <table id="away-table">
                      <thead>

                      </thead>
                      <tbody>

                      </tbody>
                    </table>
                  </div>
                  <h1 class="away-team-box">Away Team Box Scores</h1>
                </div>
              </div>
              <div class="shapes-wrapper">
                <div class="shapes">
                  <img
                    class="shapes-child"
                    loading="lazy"
                    alt=""
                    src="../static/img/polygon-1.svg"
                  />

                  <div class="model-2-wrapper">
                    <div class="model-2">Model 2</div>
                  </div>
                  <div class="shape-data">
                    <div class="shape-data-child"></div>
                  </div>
                  <div class="shape-data1">
                    <div class="model-3">Model 3</div>
                  </div>
                  <div class="shape-data2">
                    <div class="shape-data-item"></div>
                  </div>
                  <div class="model-4-wrapper">
                    <div class="model-4">Model 4</div>
                  </div>
                  <img
                    class="shapes-item"
                    loading="lazy"
                    alt=""
                    src="../static/img/polygon-1.svg"
                  />

                  <div class="shape-data3">
                    <div class="model-5">Model 5</div>
                  </div>
                  <div class="shape-data4">
                    <div class="shape-data-inner"></div>
                  </div>
                  <div class="model-6">Model 6</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>